@model CatalogViewModel
<div class="col-md-4" style="padding-top:20px">
    <div class="col-md-12">
        <div class="card bg-dark">
            <img class="card-img-top" style="height:270px;width:318px" src="@Model.Image" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title" style="color:white">@Model.Name</h5>
                <a asp-area="" asp-controller="Catalog" asp-action="Details" asp-route-id="@Model.Id" type="button" class="btn btn-success">Details <i class="fas fa-info-circle"></i></a>
                @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                {
                    <a asp-area="" asp-controller="User" asp-action="EditPost" asp-route-id="@Model.Id" type="button" class="btn btn-warning">Edit <i class="fas fa-pencil-alt"></i></a>
                    <a asp-area="" asp-controller="User" asp-action="DeletePost" asp-route-id="@Model.Id" type="button" class="btn btn-danger">Delete <i class="fas fa-trash-alt"></i></a>
                }
            </div>
            <div class="card-footer">
                <small class="text-muted"></small>
            </div>
        </div>
    </div>
</div>