@model CatalogServiceModel
<div class="container d-flex justify-content-center">

    <div class="card bg-dark" style="width:700px;color:white">
        <img class="card-img-top" src="@Model.Image" alt="Card image">
        <div class="card-body">
            <h4 class="card-title">@Model.Name</h4>
            <ul class="shadow">
                <li>
                    <time datetime="2020-05-25 12:00:00">
                        <i class="fas fa-calendar-alt mr-2"></i>@Model.CreatedOn
                    </time>
                </li>
                @if (Model.PhoneNumber != null)
                {
                    <li><i class="fas fa-phone-alt"></i> - @Model.PhoneNumber</li>
                }
                @if (Model.PhoneNumber == null)
                {
                    <li><i class="fas fa-phone-alt"></i> - No phone number</li>
                }
                <li>Age - @Model.Age</li>
                <li>Gender - @Model.Gender</li>
                <li>Type - @Model.Type</li>
                <li>Address <i class="fas fa-map-marker-alt mr-2"></i>- @Model.City @Model.Address</li>
                <li>Is vaccinated <i class="fas fa-syringe mr-2"></i>- @Model.IsVaccinated</li>


            </ul>
            <button type="button" class="btn btn-success">Save me <i class="fas fa-paw"></i></button>
        </div>
    </div>

</div>
