@model BlogServiceModel
<div class="vtimeline-point col-6">
    <div class="vtimeline-block">

        <a href="#"><img style="height:400px; width:700px;" src="@Model.Image" alt="" class="img-fluid mb20"></a>
        <a href="#"><h3>@Model.Title</h3></a>
        <ul class="post-meta list-inline">
            <li class="list-inline-item">
                <i class="fas fa-pencil-alt mr-2"></i>@Model.Author
            </li>
            <li class="list-inline-item">
                <i class="fa fa-calendar-o mr-2"></i>@Model.CreatedOn
            </li>
            <li class="list-inline-item">
                <a asp-area="" asp-controller="Comments" asp-action="Blog" asp-route-id="@Model.Id">
                    <i class="fas fa-comment mr-2"></i>Comments
                </a>
            </li>

        </ul>
        <p>
          @Model.Description
        </p>
        <button class="btn btn-outline-secondary btn-sm">Read More</button>

    </div>
</div>
<hr style="color:black" />
