@model BlogServiceModel
<tr>
    <th scope="row"><img style="max-width:100px;border-radius:85px" src="@Model.Image" alt="Alternate Text" /></th>
    <td>@Model.Title</td>
    <td>@Model.Description</td>

    @if (User.Identity.IsAuthenticated)
    {
        <td>
            <a asp-area="" asp-controller="MyProfile" asp-action="EditBlog" asp-route-id="@Model.Id"><i class="fas fa-pencil-alt bg mr-3 " style="color:orange; cursor:pointer"></i></a>
            <a method="delete" asp-area="" asp-controller="MyProfile" asp-action="DeleteBlog" asp-route-id="@Model.Id"><i class="fas fa-trash" style="color:red"></i></a>
        </td>
    }

</tr>