
@model PetPostViewModel
<tr>
    <th scope="row"><img style="max-width:100px;border-radius:85px" src="@Model.Image" alt="Alternate Text" /></th>
    <td>@Model.Name</td>
    <td>@Model.City, @Model.Address</td>
    <td>@Model.Gender</td>
    <td>@Model.IsVaccinated</td>
    @if (Model.PhoneNumber != null)
    {
        <td>@Model.PhoneNumber</td>
    }
    @if (Model.PhoneNumber == null)
    {
        <td>No phone number</td>
    }
    <td>@Model.Type</td>
    <td>
        <a asp-area="" asp-controller="User" asp-action="EditPost" asp-route-id="@Model.Id">
            <i class="fas fa-pencil-alt bg mr-3 " style="color:orange; cursor:pointer"></i>
        </a>
        <a asp-area="" asp-controller="User" asp-action="DeletePost" asp-route-id="@Model.Id"><i class="fas fa-trash" style="color:red"></i></a>
    </td>

</tr>

