@using PetSanctuary.Web.ViewModels.User
@model PetPostViewModel
    <tr>
        <th scope="row"><img style="max-width:100px;border-radius:85px" src="@Model.Image" alt="Alternate Text" /></th>
        <td>@Model.Name</td>
        <td>@Model.City, @Model.Address</td>
        <td>@Model.Gender</td>
        <td>@Model.IsVaccinated</td>
        <td>0882763896</td>
        <td>@Model.Type</td>
        <td>
            <a asp-area="" asp-controller="User" asp-action="Posts" data-toggle="modal" data-target="#exampleModal">
                <i class="fas fa-pencil-alt bg mr-3 " style="color:orange"></i>
            </a>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <form method="post">

                            <div class="form-group">
                                <label asp-for="Name" style="color:white;">Name</label>
                                <input asp-for="Name" type="text" class="form-control" placeholder="Name">
                                <span asp-validation-for="Name" style="color:red"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Age" style="color:white;">Age</label>
                                <input asp-for="Age" asp-validation-for="Age" type="number" class="form-control" placeholder="Age">
                                <span asp-validation-for="Age" style="color:red"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Image" style="color:white;">Image URL</label>
                                <input asp-for="Image" type="text" class="form-control" placeholder="Url">
                                <span asp-validation-for="Image" style="color:red"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Type" style="color:white;">Type</label>
                                <select asp-for="Type" class="form-control">

                                    <option value="Dog">Dog</option>
                                    <option value="Cat">Cat</option>

                                </select>
                            </div>
                            <div class="form-group">
                                <label asp-for="Gender" style="color:white;">Gender</label>
                                <select asp-for="Gender" class="form-control">

                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>

                                </select>
                            </div>
                            <div class="form-group">
                                <label asp-for="IsVaccinated" style="color:white;">IsVaccinated</label>
                                <select asp-for="IsVaccinated" class="form-control">
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>

                                </select>
                            </div>
                            <div class="form-group">
                                <label asp-for="City" style="color:white;">City</label>
                                <input asp-for="City" type="text" class="form-control" placeholder="City">
                                <span asp-validation-for="City" style="color:red"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Address" style="color:white;">Address</label>
                                <input asp-for="Address" type="text" class="form-control" placeholder="Address">
                                <span asp-validation-for="Address" style="color:red"></span>
                            </div>

                            <button type="submit" class="btn btn-block btn-primary bg-warning" style="color:black;">Save changes</button>
                        </form>
                    </div>
                </div>
            </div>
            
            <a asp-area="" asp-controller="User" asp-action="Delete" asp-route-id="@Model.Id"><i class="fas fa-trash" style="color:red"></i></a>
        </td>

    </tr>
